<% include header.ejs %>
<div class="container">

<section class="profile-full">


	<% if (user.facebook.name != null)
			var displayName = user.facebook.name;
		else
			var displayName = user.firstName + " " + user.lastName;%>
	<div class="profile-header profile-section">
		

		<div class="row">

			<div class="col-md-2">
				<div class="profile">
					<img src="/images/<%= user.username %>.jpg" alt="Profile Picture" />
				</div>
			</div>

			<div class="col-md-6">
				<h1><%= displayName %></h1>
				<ul class="stats">
					<li><span class="badge"><%= user.questions.length %></span> Questions Asked</li>
					<li><span class="badge"><%= user.answers.length %></span> Translations Proposed</li>
					<li><span class="badge"><%= user.followingTags.length %></span> Following Tags</li>
					<li><span class="badge"><%= user.followingUsers.length %></span> Following People</li>
					<li><span class="badge"><%= user.followers.length %></span> Followers</li>
				</ul>
			</div>

			<div class="col-md-4">
				<div class="score-card">
					<h3>Score: <%= user.score %></h3>
				</div>
			</div>

		</div>
	</div>


	<div class="row">

		<div class="col-md-8">


			<div class="profile-bio profile-section">
				<h3>Bio</h3>

				<p><%= user.bio %></p>
			</div>

			<div class="profile-questions profile-section">
				<h3>Questions Asked <span class="badge"><%= user.questions.length %></span></h3>

				<div class="profile-stories">

					<div class="profile-story">
						<div class="row">
							<div class="profile col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
							<div class="quote question col-md-11">
								<p>Hey there, friend!</p>
							</div>
						</div>
						<div class="row">
							<div class="quote answer col-md-11">
								<p>Hola, amigo!</p>
							</div>
							<div class="profile subtle col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
						</div>
					</div>

					<div class="profile-story">
						<div class="row">
							<div class="profile col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
							<div class="quote question col-md-11">
								<p>What time is it?</p>
							</div>
						</div>
						<div class="row">
							<div class="quote answer col-md-11">
								<p>ton ni kii mong?</p>
							</div>
							<div class="profile subtle col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
						</div>
					</div>

				</div>
			
				<div class="profile-stories-more">
					<a href="#">...</a>
				</div>
			</div>

			<div class="profile-answers profile-section">
				<h3>Translations Proposed <span class="badge"><%= user.answers.length %></span></h3>
				
				<div class="profile-stories">

					<div class="profile-story">
						<div class="row">
							<div class="profile col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
							<div class="quote question col-md-11">
								<p>Hey there, friend!</p>
							</div>
						</div>
						<div class="row">
							<div class="quote answer col-md-11">
								<p>Hola, amigo!</p>
							</div>
							<div class="profile subtle col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
						</div>
					</div>

					<div class="profile-story">
						<div class="row">
							<div class="profile col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
							<div class="quote question col-md-11">
								<p>What time is it?</p>
							</div>
						</div>
						<div class="row">
							<div class="quote answer col-md-11">
								<p>ton ni kii mong?</p>
							</div>
							<div class="profile subtle col-md-1">
								<img src="/images/profile-default.jpg" alt="Andy Jay" />
							</div>
						</div>
					</div>

				</div>
			
				<div class="profile-stories-more">
					<a href="#">...</a>
				</div>
			</div>

		</div>

		<div class="col-md-4">

			<div class="profile-following-tags profile-section">
				<h3>Following Tags <span class="badge"><%= user.followingTags.length %></span></h3>

				<div class="tags">
					<% for (var i = 0; i < tags.length; i++) {
						var classTag = "tag"
						if (tags[i].isLanguage) {classTag += " tag-language"}%>
						<span class="<%= classTag %>"><%= tags[i].text %></span>
					<% } %>
				</div>
			</div>

			<div class="profile-following-people profile-section">
				<h3>Following People <span class="badge"><%= user.followingUsers.length %></span></h3>

				<div class="profiles">
					<% for (var i = 0; i < following.length; i++) {
						if (i != 0 && i % 8 == 0) {%><br /><%}%>
						<a href="<%=following[i]._id%>" class="profile"><img src="/images/<%=following[i].username%>.jpg" alt="<%=displayName%>"/></a>
					<% } %>
				</div>
			</div>

			<div class="profile-followers profile-section">
				<h3>Followers <span class="badge"><%= user.followers.length %></span></h3>

				<div class="profiles">
					<% for (var i = 0; i < followers.length; i++) {
						if (i != 0 && i % 8 == 0) {%><br /><%}%>
						<a href="<%=followers[i]._id%>" class="profile"><img src="/images/<%=followers[i].username%>.jpg" alt="<%=displayName%>"/></a>
					<% } %>
				</div>
			</div>
		</div>

	</div>
	

</section>


</div>
<% include footer.ejs %>